<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
		<img src="https://i.ibb.co.com/v2Zt3bX/photo-6115917418598614313-y.jpg" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">Halo! Saya Yopi Pilawan,<br>
Saya adalah operator di STIKes Respati Tasikmalaya yang juga aktif sebagai freelancer di bidang Desain Grafis, Pembuatan Website, dan Aplikasi Android.
</p>

  </div>
</div>