<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2" style="width: 70%; height: 70%; ! important;">
      <div id="dummy"></div>
      <div id="element">
    		<a href="{{ site.baseurl }}/about">
    		    <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
    		</a>
      </div>
    </div>
<br>
<section class="app-bar">
  <div class="app" onclick="navigateWithRipple(event, 'https://kangyop.github.io/blog')">
    <div class="app-icon">📰</div>
    <div class="app-title">BLOG</div>
  </div>
  <div class="app" onclick="navigateWithRipple(event, 'https://kangyop.github.io/projects')">
    <div class="app-icon">🛠️</div>
    <div class="app-title">PROJECTS</div>
  </div>
  <div class="app" onclick="navigateWithRipple(event, 'https://kangyop.github.io/apps')">
    <div class="app-icon">📱</div>
    <div class="app-title">APPS</div>
  </div>
</section>

	  
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

  </div>
</div>
