html {
  padding-left: calc(100vw - 100%);
}

body {
  // Edit this file from https://github.com/helmiau/portfolYOU/blob/master/_sass/_base.scss
  font-family: "Noto+Sans", sans-serif;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
